<template>
<div>

    <nav class="navbar navbar-fixed-bottom navbar-inverse">
        <div class="">
            <ul class="nav navbar-nav">
                <li v-for="button in buttons" class="wide-nav">
                    <a v-on:click="navigate(button.id)" v-bind:class="{ activeButton: button.isActive }">{{button.text}}</a>
                </li>
            </ul>

        </div>
    </nav>


</div>
</template>


<script>



export default {
 data: function () {
        return {

        };
    },
    props: ['buttons'],//handled by the parent
    mounted: function () {
        let self = this;

    },

    methods: {
    navigate:function(destination){
            let self = this;
            console.log(destination);
            self.$emit('navigate',destination);
        },

    }//methods
}//xd

</script>








