<template>

    <div>
        <header> {{header_text}}</header>

        <div class="container">

            <div v-show="mode!='product'" class="row">
                <div v-for="visibleButton in visibleButtons" class="col-sm-4 col-md-4 col-lg-4">
                    <div class="margin">
                        <button v-on:click="btn_click(visibleButton.id)" :id="visibleButton.id"
                                class="tab-button tab-green">{{visibleButton.description}}
                        </button>

                        <div class="fault-counter" v-show="mode===3"> <!--3 is FAULT-->
                            {{ visibleButton.counter }}
                        </div>

                    </div>
                </div>
            </div><!--buttons-->

            <!--This is only shown in product mode-->
            <div v-show="mode===2" id="productGroup"><!--2 is PART-->
                <ch-product v-on:valid="onProductValidated"  v-on:error="onError"></ch-product>
            </div>
            <!--End of product mode-->

        </div><!--container-->

        <ch-bottom-toolbar v-bind:buttons="navButtons" v-on:navigate="onNavigate"></ch-bottom-toolbar>

    </div> <!--component-->

</template>


    <script>

 //enum to track mode
    var modes = {
        LOGOUT: 0,
        PROCESS: 1,
        PART: 2,
        FAULTS: 3,
        ADD_FAULT: 4
    };


export default {
 data: function () {
        return {
        mode:modes.PROCESS, //application mode
        visibleButtons:[], //three column buttons
        product_id:'',
        process_type_id:'',
        faults:[],
        header_text:'Process Type',
        primary_fault:1,
        navButtons:[]//modified here and passed to child

        };
    },

    props: ['processes'],//arrays passed in which this user has access to
    mounted: function () {

        if(this.processes=="[]"){
            this.displayError('No processes assigned to this user.');
        }

        this.visibleButtons = JSON.parse(this.processes);//display the processes which this user has access tp
        this.setButtons(modes.PROCESS);
    },
    methods: {
        btn_click:function(buttonId){//one of the visibleButtons has been pressed


            if(this.mode==modes.PROCESS){//stage 1
                this.process_type_id = buttonId;
                this.setMode(this.mode+1);

            }else if(this.mode==modes.FAULTS){
                this.addFault(buttonId); //dont want to progressMode here, just AJAX add fault
            }

        },//btn_click,


          setMode:function(newMode,buttonId){ //setup the buttons and header

            /*LOGOUT: 0,
            PROCESS: 1,
            PART: 2,
            FAULTS: 3,
            ADD_FAULT: 4*/

            switch(newMode) {
                case modes.PROCESS://1
                    this.mode = modes.PROCESS;
                    this.visibleButtons = JSON.parse(this.processes);
                    this.header_text = "Process Type"

                    break;

                case modes.PART://2
                    this.mode = modes.PART;
                    this.visibleButtons =[];
                    this.header_text = "Product Type";
                    this.product_id = "";
                    $('#part_no').val("");
                    $('#description').text("");
                    this.primary_fault = 1;


                    break;

                 case modes.FAULTS://3
                    this.mode = modes.FAULTS;
                    this.visibleButtons = this.faults;
                    break;

            }
            this.setButtons(newMode);
        },//progress mode

        //emitted from the product component when part no is valid
        onProductValidated:function(product){


            this.product_id = product.product_id;
            this.header_text = product.product_description;

            this.getFaults();
        },
        getFaults:function(){
            let self = this;

             axios.get('/getFaults', {
                params: {
                    product_id: this.product_id,
                    process_type_id: this.process_type_id
                }
              })
               .then(function (response) {

                   self.faults = response.data;
                   self.setMode(self.mode+1);
              })
              .catch(function (error) {

                self.displayError(error.response.data.error);
              });
        },

         //navigate has been emitted from the bottom-toolbar
        onNavigate:function(destination){

            this.setMode(destination);

        },
        //error emitted from product.vue component
        onError:function(error){

            this.displayError(error);

        },

        //set the buttons for the bottom-toolbar
        setButtons:function(destination){



         switch(destination) {

                case modes.LOGOUT://0

                    window.location.href = "/logout";

                break;
                case modes.PROCESS://1
                    this.navButtons =[
                    {id:0,text:'Logout',isActive:0},
                    {id:1,text:'Process',isActive:1}
                    ]
                break;
                case modes.PART://2
                    this.navButtons =[
                    {id:0,text:'Logout',isActive:0},
                    {id:1,text:'Process',isActive:0},
                    {id:2,text:'Part',isActive:1}
                    ]
                break;
                case modes.FAULTS://3
                    this.navButtons =[
                    {id:0,text:'Logout',isActive:0},
                    {id:1,text:'Process',isActive:0},
                    {id:2,text:'Part',isActive:0},
                    {id:3,text:'Faults',isActive:1}
                    ]
                break;
            }
},
        //launch the AJAX to save the fault
        addFault:function(fault_id){
            let self = this;

            if(this.primary_fault==1){
                // a fault has already been added for this fault, so this is secondary
                this.primary_fault=0
            }

            axios.post('/addFault', {
                fault_id: fault_id,
                product_id: this.product_id,
                primary_fault: this.primary_fault

             })
              .then(function (response) {

                //increment the counter for this fault

                let elementOn =0;
                let found = false;
                let sizeOfArray = self.visibleButtons.length;

                while (found ==false && elementOn <= sizeOfArray) {
                   if (self.visibleButtons[elementOn]['id'] ==  fault_id ){
                        found = true;
                        self.visibleButtons[elementOn]['counter']++
                   }
                   elementOn++;
                }

              })
              .catch(function (error) {

                console.log(error);

              });

        },//addFault


        displayError:function(message){

        toastr.options = {
                  "closeButton": false,
                  "debug": false,
                  "newestOnTop": true,
                  "progressBar": false,
                  "positionClass": "toast-bottom-center",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "1000",
                  "timeOut": "5000",
                  "extendedTimeOut": "1000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
                };
                toastr["error"](message)
                }


    }//methods
}//xd

</script>








