<template>
<div>

    <div class="well">

        <div class="row">
            <label for="part_no" class="typeahead-label col-sm-8">Part Number: </label>
        </div>

        <div class="row">

            <div class="col-sm-3 pull-right">
                <button v-on:click="btnAdd_click()" id="add-fault" class="tab-button tab-yellow">Add Fault</button>
            </div>

            <div id="scrollable-dropdown-menu">
                <input class="typeahead" required="true" name="part_no" id="part_no" type="text">
                <h1 class="typeahead-label  col-sm-5" id="description"></h1>
            </div>
        </div>



    </div><!--well-->
</div><!--component-->

</template>



    <script>
export default {
 data: function () {
        return {
        part_no:'',
        valid:''

        };
    },
    props: [],
    mounted: function () {


    },
    methods: {

        btnAdd_click:function(buttonId){
            let self = this;
            let part_no = $('#part_no').val()//not sure how else to get at this
            //need to do the available and valid product check
            // Optionally the request above could also be done as
            axios.get('/validateProduct', {
                params: {
                  part_no: part_no
                }
              })
              .then(function (response) {
               self.$emit('valid',response.data)
               })
              .catch(function (error) {

                self.$emit('error',error.response.data.error)
              });
            }

    }//methods
}//xd

</script>








