


.activeButton{
    background-color: black;
    color: white !important;

}



.nav{

    width:100%;
}

.navbar{

    background-color: #101D40;
    border-top: 1px solid white;
    text-align:center;
    height: 60px;


}

.wide-nav{
    width:25%;

    border: 1px solid white;


}


header {
    background-color: #101D40;
    border-bottom: 1px solid white;
    text-align:center;
    padding:20px;
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    color:white;
    font-size: large;
}



.fault-counter {

    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 32px;
    border-radius: 8px;
    width: 100px;
    color: #fff400;
    border: 5px solid #fff400;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    display:block;

}


.product-description{
    font-size: 26px;
    color:black;
    margin-left: 15px;
}


.typeahead-label{
    font-size: 32px;
    color:white;
}


.twitter-typeahead{
    display: block !important;
    /*width: 100%;*/
    font-size: large;
    height: 32px;
}


.toast-success {
    background-color: #00b239;
}


.btn-group .button {
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 15px 100px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}
.btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
.btn-group .button:hover {
    background-color: #fff400;
}


.glyphicon-large{
    font-size: 25px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 60px; /* bottom has to be the same as footer height */
}



footer {
    background-color: #101D40;
    border-top: 1px solid white;
    text-align:center;

    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    color:white;
    font-size: large;
}

.container{
    margin-top: 60px;
}


/*h1{
    color: black;
    text-align: center;
}*/
.well{
    background-color: #101D40;
    margin-top: 20px;
    border-color: white;


}

.black {
    background-color: #080906;
}

.margin{
    margin: 10px 25px;
}

.tab-button {
    border: none;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 32px;
    border-radius: 8px;
    width: 100%;
    height: 107px;
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.tab-yellow {background-color: #fff400;}
.tab-purple {background-color: #ba0071;}
.tab-green {background-color: #00b239;}
.tab-blue {background-color: #006da3;}
.tab-brown {background-color: #df7c00;}

.tab-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


