/*MB lifted this from the Typeahead website and modified*/


.tt-input {
  height:100px;
  color:black;
  width: 595px;
}


.tt-menu,
.gist {
  text-align: left;
  width: 595px;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 595px;
  height: 50px;
  padding: 10px 12px;
  /*font-size: 24px;*/
  line-height: 30px;
  border: 2px solid #ccc;
  outline: none;




}

.typeahead {
  background-color: #fff;
  width: 50%;
  margin-left:15px;
}

/*.part_no-description {
  margin-left: 120px;
}*/

.typeahead:focus {
  border: 2px solid #0097cf;
}


.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
  width: 595px;
}


.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 595px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}


.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
  width: 595px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}


.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
  /*width: 100%;*/
}

#rtl-support .tt-menu {
  text-align: right;
}